.label {
  display: inline;
  color: inherit;
  background-color: #f1f1f1;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 2px;
  font-family: 'CascadiaMono', 'MiSans', monospace;
}

.clickable {
  cursor: pointer;
  color: #7793cc;
}
