.container {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: $box-shadow;
}

.table {
  border: 1px solid #eee;
  margin-top: 20px;
}

.title {
  font-weight: 500;
}
