.container {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: $box-shadow;
  height: 250px;
  flex: 1 1 auto;
}

.chart {
  width: 100%;
  height: 250px;
}
